p{
    text-align: center;
    animation: linear 3s color_change infinite;
}

@keyframes color_change{
    0%{
        color: red;
    }

    50%{
        color: blue;
    }

    100%{
        color: green;
    }
}